/* Existing bookings container */
.existingBookingsContainer {
	text-align: center;
}

.existingBookingsContainer h1 {
	margin: 0;
	padding-top: 15px;
	padding-bottom: 5px;
}

.existingBookingsContainer p {
	margin: 0;
	padding: 10px 0;
}

/* Bookings container */
.existingBookingsContainer .bookingsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.existingBookingsContainer .bookingsContainer .booking {
	background-color: #F5CBA0;
	width: 80%;
	margin: 10px;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-body{
    background-color: bisque;
}
.bookingLabel {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}
.bookingLabelLast {
	margin-right: 0.5rem;
	margin-bottom: 1rem;
}
.btn-light.custom-btn-white {
    background-color: white !important;
    color: black !important;
    border: 1px solid #dee2e6 !important;
}
.w-30 {
    width: 30% !important;
}
.btn-light.custom-btn-white:hover {
	font-weight: bold;
}