.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  
  @media (max-width: 550px) {
    .rounded-tr-lg-0 {
      border-top-right-radius: 0.5rem;
      border-bottom-left-radius: 0rem;
    }
  }

  .custom-btn {
    background-color: #99978a !important;  /* Your desired color */
    color: white !important;  /* Text color */
    border:  #99978a !important; 
}



  